<p-table
  [value]="ticketsList()"
  [paginator]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [tableStyle]="{ 'min-width': '50rem' }"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[5, 10, 25, 50]"
>
  <ng-template pTemplate="header">
    <tr class="bg-cyan-600 text-white">
      <th
        class="bg-cyan-600 text-white text-center"
        *ngFor="let col of colsHeaders()"
      >
        {{ col }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket>
    <tr>
      <td class="text-center">{{ ticket.tittle }}</td>
      <td class="text-center lowercase">{{ ticket.startDate | date }}</td>
      <td class="text-center lowercase">{{ ticket.endDate | date }}</td>
      <td class="text-center lowercase">
        {{ ticket.employeeId ? ticket.employeeId : 'Sin asignar'}}
      </td>
      <td class="text-center lowercase">{{ ticket.statusId | ticketStatus }}</td>
      <td class="text-center flex items-center justify-center gap-2">
        <button
          class="bg-blue-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-blue-700"
          pTooltip="Editar ticket"
          tooltipPosition="top"
          (click)="openEdit(ticket)"
        >
          <i class="pi pi-pencil"></i>
        </button>
        <button
          class="bg-red-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-red-700"
          pTooltip="Finalizar ticket"
          tooltipPosition="top"
          (click)="finishTicket(ticket.id)"
        >
          <i class="pi pi-ban"></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-container *ngIf="openEditTicket">
  <app-add-edit-ticket [(visible)]="openEditTicket" [(ticket)]="selectedTicket" ></app-add-edit-ticket>
</ng-container>

<p-dialog  [header]="dialogData().title"
           [(visible)]="openDialog"
           [modal]="true"
           [style]="{ width: '95%', maxWidth: '700px'}"
           [draggable]="false"
           [resizable]="false" >
  <p>{{dialogData().description}}</p>
  <ng-template pTemplate="footer">
    <button
      class="bg-red-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-red-700"
      pTooltip="Finalizar ticket"
      tooltipPosition="top"
      (click)="resetDialog()"
    >
      <i class="pi pi-ban"></i>
      Aceptar
    </button>
  </ng-template>
</p-dialog>
