<header class="bg-white shadow flex justify-between items-center p-4 rounded-md mb-6">
  <h2 class="text-2xl" > Solicitudes pendientes</h2>
  <span>{{dependenceName}}</span>
</header>

<section>

  <p-table [value]="requestList()"
           [paginator]="true"
           [rows]="5"
           [showCurrentPageReport]="true"
           [tableStyle]="{ 'min-width': '50rem' }"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
      <tr class="bg-cyan-600 text-white">
        <th class="bg-cyan-600 text-white text-center" >Titulo</th>
        <th class="bg-cyan-600 text-white text-center" >Fecha</th>
        <th class="bg-cyan-600 text-white text-center" >Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr >
        <td class="text-center">{{ request.title }}</td>
        <td class="text-center">{{ request.requestDate | date  }}</td>
        <td class="flex items-center justify-center gap-3">
          <button class="bg-green-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
                  (click)="openViewDialogFunc(request)">
            Ver solicitud completa
            <i class="pi pi-eye"></i>
          </button>

        </td>
      </tr>
    </ng-template>

  </p-table>

  <p-dialog header="Informacion detallada de la solicitud"
            [(visible)]="openViewDialog"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="selectedRequest.set(null)"

  >
    <div>
      <span class="block text-right">{{selectedRequest()?.requestDate | date}}</span>
      <div class="flex flex-col mb-4">
        <span class="inline-block pb-1" >Titulo</span>
        <span class="p-2 border border-black rounded-md" >{{selectedRequest()?.title}}</span>
      </div>
      <div class="flex flex-col mb-4">
          <span class="inline-block pb-1" >Descripcion </span>
          <textarea [value]="selectedRequest()?.description"  class="border border-black rounded-md p-3 resize-none "></textarea>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <div class="flex justify-between items-center w-full">
        <button class="bg-red-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-red-700"
                (click)="approveRequest()">
          <i class="pi pi-trash"></i>
          Rechazar solicitud
        </button>
        <button class="bg-green-500 ml-auto flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
                (click)="rejectRequest()">
          <i class="pi pi-check"></i>
          Aprobar solicitud
        </button>
      </div>
    </ng-template>
  </p-dialog>


  <p-dialog header="Solcitud aprobada"
            [(visible)]="openGoodResponse"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
  >

    <p>La solicitud ha sido aprobada correctamente!</p>

  </p-dialog>

  <p-dialog header="Solcitud rechazada"
            [(visible)]="openErrResponse"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
  >

    <p>La solicitud ha sido rechazada correctamente. Se le ha informado al usuario!</p>

  </p-dialog>

</section>
