<header class="bg-white shadow flex justify-between items-center p-4 rounded-md mb-6">
  <h2 class="text-2xl" > Solicitudes</h2>
  <button class="bg-blue-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-blue-700"
          (click)="openAddDialogBox()">
    <i class="pi pi-plus-circle"></i>
    Nuevo
  </button>
</header>

<section>

  <p-table [value]="request()"
           [paginator]="true"
           [rows]="5"
           [showCurrentPageReport]="true"
           [tableStyle]="{ 'min-width': '50rem' }"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="header">
      <tr class="bg-cyan-600 text-white">
        <th class="bg-cyan-600 text-white text-center" >Titulo</th>
        <th class="bg-cyan-600 text-white text-center" >Fecha</th>
        <th class="bg-cyan-600 text-white text-center" >Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-request>
      <tr >
        <td class="text-center">{{ request.title }}</td>
        <td class="text-center">{{ request.requestDate | date  }}</td>
        <td class="flex items-center justify-center gap-3">
          <button class="bg-green-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
                  (click)="openSendDialogBox(request)">
            Enviar
            <i class="pi pi-send"></i>
          </button>
          <button class="bg-blue-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-blue-700"
                  (click)="showRequestInfo(request)">
            <i class="pi pi-eye"></i>
          </button>
          <button class="bg-red-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-red-700"
                  (click)="openDeleteDialogBox(request)">
            <i class="pi pi-trash"></i>
          </button>
          <button class="bg-green-500 flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700">
            <i class="pi pi-pencil"></i>
          </button>

        </td>
      </tr>
    </ng-template>

  </p-table>

  <p-dialog header="Eliminar petición"
            [(visible)]="openDeleteDialog"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="onCloseDialog()"
  >
    <p class="m-0">
      ¿Estas seguro que desea eliminar la petición? Esta acción no se puede deshacer.
    </p>
    <ng-template pTemplate="footer">
      <button class="bg-green-500 ml-auto flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
              (click)="deleteRequest()">
        <i class="pi pi-check"></i>
        Aceptar
      </button>
    </ng-template>
  </p-dialog>

  <p-dialog header="Enviar petición"
            [(visible)]="openSendDialog"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="onCloseDialog()"
  >
    <p class="m-0">
      ¿Estas seguro que desea enviar la petición? Esta acción no se puede deshacer.
    </p>
    <ng-template pTemplate="footer">
      <button class="bg-green-500 ml-auto flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
              (click)="sendRequest()">
        <i class="pi pi-check"></i>
        Enviar
      </button>
    </ng-template>
  </p-dialog>

  <p-dialog header="Enviar petición"
            [(visible)]="openAddDialogForm"
            [modal]="true"
            [style]="{ width: '75vw' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="onCloseDialog()"
  >

    <form [formGroup]="requestForm" (ngSubmit)="submit()">

      <div class="grid grid-cols-2 gap-4">
          <div class="col-span-2">
            <label for="title">Titulo</label>
            <input type="text" id="title" formControlName="title" class="w-full rounded-md border-gray-300 shadow-md border p-2" pInputText>
          </div>
          <div class="col-span-2">
            <label for="description">Descripción</label>
            <textarea id="description" formControlName="description" class="w-full rounded-md border-gray-300 shadow-md border resize-none p-4" pInputTextarea ></textarea>
          </div>
      </div>
      <button type="submit" class="bg-green-500 ml-auto flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700 mt-4"
              >
        <i class="pi pi-check"></i>
        Enviar
      </button>
    </form>

  </p-dialog>

  <p-dialog [header]="generalDialogData().title"
            [(visible)]="generalDialog"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
            (onHide)="resetAll()"
  >
    <p class="m-0">
      {{generalDialogData().message}}
    </p>
    <ng-template pTemplate="footer">
      <button class="bg-green-500 ml-auto flex items-center gap-2 text-white font-bold py-2 px-4 rounded transition-colors hover:bg-green-700"
          (click)="resetAll()">
          <i class="pi pi-check"></i>
          Aceptar
      </button>
    </ng-template>
</p-dialog>

</section>
